<div class="row">

<div class="col-md-4 padding">
    <h4>IHG Adventure App Design</h4>
    <%=link_to image_tag('ihgphone2.png'), ihg_path, target: '_blank'%>
    <p class="portdescription">A feature designed to implement into the current IHG rewards app and take advantage of location-based social media.</p>
</div>

<div class="col-md-4 padding">
  <h4>Cardfeed Mobile App Design</h4>
  <%=link_to image_tag('feedsmall.png'), cardfeed_path, target: '_blank'%>
  <p class="portdescription">A mobile application providing quick content curation and filter options with simple swipe interactions</p>
</div>

<div class="col-md-4 padding">
  <h4>Moxie Virtual Reality Experience</h4>
  <%=link_to image_tag('oculusphoneview1.png'), moxie_path, target: '_blank'%>
  <p class="portdescription">Design for a retail experience within virtual reality.</p>
</div>

</div>

