<div class="row">
  <div class="col-md-4 padding">
    <h4>Tapetrack Web App</h4>
     <%=link_to image_tag('tapetracksnap2.png'), tapetrack_path, target: '_blank'%>
     <p class="portdescription">A web application I built with Ruby on Rails, where users can build mix tapes and share them with friends.</p>
  </div>
</div>

