
<%= image_tag("experience.png")%>
<%=image_tag("education2.png")%>

<div class="name_panel">
	<div class= "row padding">
		<div class= "col-md-6">
			<%= image_tag('GA.png')%>
		</div>
		<div class= "col-md-6">
			
			<p class="education">I am currently enrolled in General Assembly's 10 week UXDI Immersion program. With over 400 hours of class time, this course covers multiple areas of UX design including user testing, prototyping, information architecture, user flows, and site mapping. We also cover visual design basics including typography and color.</br>
			Some tools I have learned during this course include Axure, Sketch, Invision, and PopApp.</p>
		</div>
	</div>
	<div class="row padding">
		<div class="col-md-6">
			<%=image_tag("TTS.png")%>
		</div>
		<div class="col-md-6">
			<p class="education2">In the summer of 2015, I enrolled in Tech Talent South's Web Development Immersion program. The structure of this program was very conducive to learning, with each day spent building a different project together. Before diving into Ruby on Rails, we covered HTML and CSS. We then built multiple web application with Ruby on Rails, at times in teams to practice Github collaboration. A demo of my final, individual project for this course can be seen <a href="https://youtu.be/Q4B4C-4tkYo">here</a>.</p>
		</div>
	</div></br>
</div>
