<div>
	<div id="hero">
		<div class="row padding-top">
			<div class="col-md-4 padding-top">
				<div class="uxdev">UX</div>
          <p class="padding center p2">I love making people happy. When I first learned about UX, I realized it was a way to combine that with my desire to build things. The combination of creation, tech and people UX brings makes it, in my opinion, forever relevant and satisfying.</p>
          <a href="projects" target="_blank"><button class="btn btn-primary">View More</button></a>
			</div>

			<div class="col-md-4">
				<%=image_tag("headshot2.png")%>
				<center><div class="resume-button">
					<a href="https://drive.google.com/file/d/0B-TZYLQGy9cBU2owRTJkMFJya0U/view?usp=sharing" target="_blank"><button class="btn btn-primary">Resume</button></a>
				</div></center></br>
			</div>

			<div class="col-md-4 padding-top">
				<div class="uxdev">Web Dev</div>
				<p class="padding center p2">Learning both design and development was important to me. Other than selfish reasons (I love both), I wanted to bridge the gap between two important parts of a process to deliver quality, meaningful products.</p>
        <a href="projects" target="_blank"><button class="btn btn-primary">View More</button></a>
			</div>

		</div>

	</div>

<div class="bottom_panel">

	<div>
		<p class="padding center">*This website was built with Ruby on Rails and a little help from Bootstrap and Heroku.</p>
	</div>
</div>




</div>
