<div id= "hero">
  <%= image_tag('projects31.png')%></br>
  <p id="ux" class="l-inline-block projectfilter clickable">UX</p>
  <p id="webdev" class="l-inline-block projectfilter clickable">Web Dev</p>
  <p id="all" class="l-inline-block projectfilter textdecoration clickable">All</p>
  <p class="clickimagetext">Click project images for more info</p>
</div>

<div id="uxtwo" class="name_panel">
  <%= link_to render(:partial => 'uxdesign')%>
</div>

<div id="webdevtwo" class="name_panel">
  <%= link_to render(:partial => 'webdev')%>
</div>
