
<div class="project_panel">
  <div class="row tapetrack">
    <div class="col-md-6">
      <%=image_tag("tapetracksnap2.png")%>
      <p class="padding">My first web application, Tapetrack was inspired by an idea I held on to for a while and finally built the skills to create. The idea is an application allowing users to create mixtapes for others in the digital space and elicit as many 90's flashbacks as possible. I plan to keep playing with and adding to this project for fun and to continue building my skills. </p></br>
    </div>
    <div class="col-md-6">
      <p class="padding"><%= image_tag("tools.png")%>
                    Ruby on Rails,
                    Bootstrap
      </p>
      <p><a href="https://youtu.be/Q4B4C-4tkYo" target="_blank"><button class="btn btn-tt">App Demo</button></a></p>
      </div>
  </div>
</div>

